@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-white text-5xl md:text-8xl font-primary tracking-tight;
  }
  h2 {
    @apply font-bold text-black text-3xl md:text-5xl font-primary tracking-tight;
  }
  h3 {
    @apply font-bold text-black text-xl md:text-2xl font-primary tracking-tight;
  }
  h4 {
    @apply font-bold text-primary font-primary tracking-tight text-lg md:text-xl;
  }

  p {
    @apply text-[#4f4f4f] text-lg md:text-lg font-secondary;
  }

  button {
    @apply bg-primary text-white py-2 px-6 rounded-full inline-flex;
  }
}

.fancy_underline {
  display: inline-block;
  position: relative;
  cursor: default;
}

.fancy_underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.fancy_underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
